@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

@mixin absolutely {
  position: absolute;
  top:0; right:0; bottom:0; left:0;
  margin: auto;
}

@mixin animation($a) {
  -webkit-animation: $a;
  animation: $a;
}

@mixin animation-delay($a) {
  -webkit-animation-delay: $a;
  animation-delay: $a;
}

@mixin clip-path($c) {
  -webkit-clip-path: $c;
  clip-path: $c;
}

@mixin transform($t){
  -webkit-transform: $t;
  -ms-transform: $t;
  transform: $t;
}

@mixin transform-origin($t){
  -webkit-transform-origin: $t;
  -ms-transform-origin: $t;
  transform-origin: $t;
}

@mixin cf {
  &:before, &:after {
    content:" ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

*, *:focus, *:before, *:after {box-sizing: border-box; margin:0; padding:0; outline: none; text-decoration: none; list-style: none;}

html, body {
  width: 100vw;
  width: auto;
  min-height:100vh;
  font-size: 14px;
  font-family: 'Roboto Condensed', sans-serif;
  background: repeating-linear-gradient( -90deg, #f9f9f9, #cccccc 50px) center center;
  
}

body {}

.heading {
  text-align: center;
  
  h1 {
    font-size: 2rem;
    line-height: 2rem;
    padding: 3rem; 
  }
  
  input {
    width: 4rem;
    height: 3rem;
    font-size: inherit;
    font-weight: inherit;
    text-align: center;
    position: relative;
  } 
}

.pascal-container {
  @include absolutely;
  top: 126px;
  min-width: 100%;
  height: auto;

  > div {
    @include transform-origin(50% 0%);
  }
}

@keyframes row-fade-in {
  from {
    opacity: .25;
  }
  to {
    opacity: 1;
  }
}


.row {
  display: block;
  margin: 0 auto -16px;
  
  white-space: nowrap;
  font-size: 0;
  text-align: center;
  opacity: 1;
  animation: row-fade-in .1s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: inherit;
  
  li {
    display: inline-block;
    white-space: nowrap;
    font-size: 32px;
    position: relative;
    line-height: 64px;
    background-color: black;
    
    &, &:before {
      width: 64px;
      height: 64px;
      overflow: hidden;
      @include clip-path(url(#hexPath));
    }
    
    &:before {
      content:" ";
      display: block;
      width: 64px;
      height: 64px;
      line-height: 64px;
      overflow: hidden;
      background-color: red;
      @include absolutely;
      @include clip-path(url(#hexPath));
      z-index:-1;
      @include transform(scale(.9));
    }
  }
}

[data-int] {
  &[data-int="1"] {
    &:before{
    background-color: white;
    }
  }
}
