@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);

$tile-size: 64px;

@mixin absolutely {
  position: absolute;
  top:0; right:0; bottom:0; left:0;
  margin: auto;
}

@mixin animation($a) {
  -webkit-animation: $a;
  animation: $a;
}

@mixin animation-delay($a) {
  -webkit-animation-delay: $a;
  animation-delay: $a;
}

@mixin clip-path($c) {
  -webkit-clip-path: $c;
  clip-path: $c;
}

@mixin filter($f) {
    -webkit-filter: $f;
    filter: $f;
}

@mixin transform($t){
  -webkit-transform: $t;
  -ms-transform: $t;
  transform: $t;
}

@mixin transform-origin($t){
  -webkit-transform-origin: $t;
  -ms-transform-origin: $t;
  transform-origin: $t;
}

@mixin cf {
  &:before, &:after {
    content:" ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

*, *:focus, :before, :after {box-sizing: border-box; margin:0; padding:0; outline: none; text-decoration: none; list-style: none;}

html, body {
    width: 100vw;
    height:100vh;
    overflow: hidden;
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url(images/galaxy.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {}

.heading {
    text-align: center;
    position: relative;    
    
    > a {
        position: absolute;
        top: 2rem;
        left: 2rem;
        padding: .5rem;
        font-size: 1rem;
        background-color: #5D819B;
        border-radius: .25rem;
        color: black;
        overflow: hidden; 
        
        &:before {
            content:" ";
            position: absolute;
            display: block;
            border: .75rem solid transparent;
            border-right-color: rgba(0,0,0,1);
            width: 0;
            height: 0;
            margin: auto;
            top: 0;
            left: -150%;
            right: 0;
            bottom: 0;
            transition: all .1s ease-in-out;
            @include transform(translateX(0%));
            transition: transform .3s ease-in-out;
        }
        &:after{
            content:" ";
            position: absolute;
            display: block;
            width: .75rem;
            height: .5rem;
            background-color: black;
            margin: auto;
            top: 0;
            left: 100%;
            right: 0;
            bottom: 0;
            transition: all .1s ease-in-out;
            @include transform(translateX(0%));
            transition: transform .3s ease-in-out;
        }
        
        span {
            @include transform(scale(1));
            display: block;
            transition: transform .2s ease-in-out;
        }
        
        &:hover {
            
            span {
                @include transform(scale(0));
                transition-delay: .1s;
            }
            
            &:before {
                @include transform(translateX(100%));
            }
            
            &:after {
                @include transform(translateX(-182%));
            }
        }
        
        &:active {
            span {
                @include transform(scale(0));
                transition-delay: .1s;
            }
            
            &:before {
                @include transform(translateX(-100%));
            }
            
            &:after {
                @include transform(translateX(-700%));
            }
        }
        
    }

    h1 {
        font-size: 2rem;
        line-height: 8rem;
        color: rgb(255,255,255);
        letter-spacing: .25rem;
        text-shadow: 0 0 .25em rgba(0,0,0,.5);

        span {
            position: relative;
            letter-spacing: 0;
            text-shadow: none;
            &:before, &:after {
                position: absolute;
            }

            &:before {
                content:" ";
                display: block;
                border: 14px solid transparent;
                border-bottom-color: rgba(0,0,0,1);
                width: 0;
                height: 0;
                margin: auto;
                top: 1.75rem;
                left: 0;
                right: 0;
                @include transform(scale(0) translateY(-5100%));
                @include transform-origin(50% 0%);
                transition: all .1s ease-in-out;
                pointer-events: none;
            }
            
            &:after{
                content: "Stuff gets weird around line 58.\A Javascript can't math that high.";
                white-space: pre;
                display: inline-block;
                padding: .25rem;
                z-index: 4;
                top: 3.5em;
                background-color: rgba(0,0,0,1);
                color: #fff;
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.6rem;
                left: -5.5em;
                right: -5.5em;
                border-radius: .25rem;
                transition: all .25s ease-in-out;
                pointer-events: none;
                @include transform(scale(0) translateY(-100%));
                @include transform-origin(50% 0%);
            }
            
            &:hover {
                
                &:before {
                    @include transform(scale(1) translateY(-3%));
                    transition-delay: .20s;
                    transition: .5s;
                }
                
                &:after {
                    @include transform(scale(1) translateY(0%));
                }
                
            }
        }
    }
  
  input {
    width: 4rem;
    height: 3rem;
    font-size: inherit;
    font-weight: inherit;
    text-align: center;
  } 
}

.pascal-container {
  @include absolutely;
  top: 8rem;
  min-width: 100%;
  height: auto;

  > div {
    @include transform-origin(50% 0%);
    //transition-delay: .1s;
    transition: transform .3s ease-in-out;
  }
    
    [style*="scale(0.7"],[style*="scale(0.6"],[style*="scale(0.5"],[style*="scale(0.4"],[style*="scale(0.3"],[style*="scale(0.2"],[style*="scale(0.1"],[style*="scale(0.0"] {
        color: transparent;
    }
}

.row {
  display: block;
  margin: 0 auto ($tile-size / -4);
  white-space: nowrap;
  font-size: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  
  li {
    display: inline-block;
    white-space: nowrap;
    font-size: ($tile-size / 2);
    position: relative;
    z-index: 1;
    background-color: black;
    cursor: pointer;
    
    &, &:before {
      width: $tile-size;
      height: $tile-size;
      line-height: $tile-size;
      overflow: hidden;
      @include clip-path(url(#hexPath));
        
    }
    
    &:before {
      content:" ";
      display: block;
      background-color: #5D819B;
      @include absolutely;
      z-index:-1;
      @include transform(scale(.9));
    }
      
    &:hover {
        @include transform(scale(1.75));
        z-index: 2;
    }
  }
}


[data-int] {
  &[data-int="1"] {
    &:before{
    background-color: white;
    }
  }
}


#info-panel {
    display: none;
    background-color: white;
    border-radius: 4px;
    border: 2px solid #000;
    position: fixed;
    z-index: 999;
    transition: all .01s ease-in-out;
    pointer-events: none;
    
    dl {
        padding: 1rem;
        color: #5D819B;
        
        *:before {
            color: black;
        }
        dt {
            text-align: center;
            font-size: 1.5rem; 
        }
    }
    
    .cell {
        &-value {
            &:before {
                content:"Value: ";
            }   
        }
        &-row {
            &:before {
                content:"Row: ";
            }
        }
        &-index {
            &:before {
                content:"Index: ";
            }
        }
    }
}

